/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
:root {
  --primary-color: #15113d;
  --secondary-color: #35114a;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 10% 90%;
  grid-template-rows: 10% 90%;
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  position: relative;
}

body > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

body > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
@media (orientation: landscape) and (max-height: 40rem) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 20% 80%;
    grid-template-rows: 20% 80%;
  }
  body > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  body > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
@supports (height: 100svh) {
  body {
    height: 100svh;
  }
}

p,
h1,
h2,
h4,
h5 {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem;
}
header .logo {
  cursor: pointer;
  max-width: 50%;
  height: 80%;
  min-width: 40%;
  background-image: url(/Images/Logo.png);
  background-position: center;
  background-size: cover;
}
@media (min-width: 60rem) {
  header .logo {
    min-width: 20%;
    width: 20%;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  header .logo {
    min-width: 20%;
    width: 20%;
  }
}
header .logo a {
  padding: 5rem;
}
header .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  position: relative;
}
@media (min-width: 60rem) {
  header .search-container {
    width: 20%;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  header .search-container {
    width: 20%;
  }
}
header .icon {
  cursor: pointer;
  color: var(--text-color);
  border-radius: 30px;
  padding: 7%;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 0;
  background-color: rgba(var(--text-color), 0.1);
}
@media (min-width: 60rem) {
  header .icon {
    padding: 5%;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  header .icon {
    padding: 5%;
  }
}
header .icon:hover {
  background-color: rgba(var(--text-color), 0.5);
}
header .search-bar {
  max-width: 100%;
  width: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
header .search {
  background-color: rgba(var(--text-color), 0.1);
  color: var(--text-color);
  border: none;
  outline: none;
  height: 5vh;
  width: 0;
  border-radius: 30px;
  padding: 0 1rem;
}
header .expand {
  width: 100%;
  opacity: 1;
}
header .border-fix {
  background: transparent;
}
header .border-fix:hover {
  background: transparent;
}

main {
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .movie {
  margin: 1rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  -webkit-box-shadow: 0px 4px 10px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px 8px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
@media (min-width: 60rem) {
  main .movie {
    width: 21vw;
  }
}
main .movie img {
  width: 100%;
}
main .movie .movie-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
@media (min-width: 60rem) {
  main .movie .movie-info {
    width: 21vw;
  }
}
main .movie .movie-info h3 {
  font-size: 1rem;
}
main .movie .movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}
main .movie .movie-info span.green {
  color: lightgreen;
}
main .movie .movie-info span.orange {
  color: orange;
}
main .movie .movie-info span.red {
  color: red;
}
main .movie .overview {
  background-color: var(--text-color);
  color: black;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  -webkit-transform: translateY(101%);
      -ms-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
main .movie .overview .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .movie .overview .container .toggle-overview {
  color: black;
}
main .movie .show {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
main .movie:hover .overview {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.toggle-overview {
  padding: 0.5rem;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  margin: 0 0.3rem;
  cursor: pointer;
}
@media (min-width: 60rem) {
  .toggle-overview {
    display: none;
  }
}

.move-up {
  position: fixed;
  min-height: 64px;
  min-width: 64px;
  overflow: hidden;
  background-color: var(--secondary-color);
  border-radius: 50%;
  bottom: 2%;
  text-decoration: none;
  left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: up-up 1s alternate infinite;
          animation: up-up 1s alternate infinite;
}
@media (min-width: 60rem) {
  .move-up {
    bottom: 5%;
  }
}

@-webkit-keyframes up-up {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes up-up {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
